
<h3>templateform</h3>

<!-- 
<form #f="ngForm" (ngSubmit)="submit()" >

    <label>name:</label>
 <input type="text" [(ngModel)]="model.name" #name="ngModel" required /> 
 <div *ngIf="f.submitted">
 <span *ngIf="f.submitted && name?.errors?.required" style="color: red;" >name is required</span> 
</div>
 <br>

 <button type="submit">submit</button>


</form> -->


<form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" 
        #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />

        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors?.required">First Name is required</div>
        </div>
    </div>


    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName"
         #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />

        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
            <div *ngIf="lastName.errors?.required">Last Name is required</div>
        </div>
    </div>


    <button type="submit">submit</button>


</form>
